---
layout: default
title: Blog
---

<div class="home">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Personal Blog Posts" }}</h2>
      <!-- Pagination links -->
      <div class="pagination">
        <span class="page_number ">
          <strong>{{ paginator.page }}</strong> of {{ paginator.total_pages }} - {{ paginator.total_posts }} posts in total
        </span><br>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">⬅️</a>
        {% else %}
          <span style="filter: grayscale(100%);">⬅️</span>
        {% endif %}
        {% if paginator.previous_page %}
          <a href="/">⬆️</a>
        {% else %}
          <span style="filter: grayscale(100%);">⬆️</span>
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">➡️</a>
        {% else %}
          <span style="filter: grayscale(100%);">➡️</span>
        {% endif %}
      </div>
      <p>ℹ️ Posts tagged with 🇹🇷 or 🇬🇧 are in Turkish or in English, respectively.</p>
      <hr>
    <ul class="post-list">
      {% for post in paginator.posts %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
      <li style="background: #DDEEEE; padding: 10px; border-radius: 10px;">
      {% else %}
      <li style="background: #EEEEEE; padding: 10px; border-radius: 10px;">
      {% endif %}
        {%- if post.tags contains 'en' -%}<span class="post-meta">🇬🇧</span>&nbsp;{%- endif -%}
        {%- if post.tags contains 'tr' -%}<span class="post-meta">🇹🇷</span>&nbsp;{%- endif -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if post.modified_date -%}
          &nbsp;~&nbsp;
          {%- assign mdate = post.modified_date | date_to_xmlschema -%}
          <span class="post-meta">{{ mdate | date: date_format }}</span>
        {%- endif -%}
        {%- if post.image or post.imageyt -%}
          <center>
          <p>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {%- if post.imageyt -%}
            <img alt="Teaser" data-sizes="auto" src="https://i.ytimg.com/vi/{{ post.imageyt }}/hq720.jpg" data-srcset="https://i.ytimg.com/vi/{{ post.imageyt }}/hq720.jpg 1280w" srcset="/assets/lazyload.png" style="border-radius: 10px; max-height: 405px;" class="lazyload" width="720">
            {%- else -%}
            <img alt="Teaser" src="{{ post.image | relative_url }}" data-srcset="{{ post.image | relative_url }}"  srcset="/assets/lazyload.png" style="border-radius: 10px;" class="lazyload">
            {%- endif -%}
          </a>
          </p>
          </center>
          {%- endif -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          <h4>{{ post.excerpt }}</h4>
        {%- endif -%}
      </li>
      <!-- <hr> -->
      {%- endfor -%}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">⬅️</a>
      {% else %}
        <span style="filter: grayscale(100%);">⬅️</span>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="/">⬆️</a>
      {% else %}
        <span style="filter: grayscale(100%);">⬆️</span>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">➡️</a>
      {% else %}
        <span style="filter: grayscale(100%);">➡️</span>
      {% endif %}
      <br>
      <span class="page_number ">
        <strong>{{ paginator.page }}</strong> of {{ paginator.total_pages }} - {{ paginator.total_posts }} posts in total
      </span>
    </div>
    <p>ℹ️ Posts tagged with 🇹🇷 or 🇬🇧 are in Turkish or in English, respectively.</p>
    <hr>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    <p class=""><a href="{{ "/sitemap.xml" | relative_url }}">sitemap.xml</a></p>
  {%- endif -%}

</div>
