---
---

@import "minima";

body {
    font-family: 'Inter', sans-serif;
}

pre {
    font-family: 'JetBrains Mono', monospace !important;
}

strong {
  font-size: 1.1rem !important;
}

em {
  font-size: 1.1rem !important;
}
